#content {
    max-width: 1600px;
    margin: 0 auto;

}
nav a{
    text-align: center;
    text-decoration: none;
    color: black;
} 
#hero-msg h1{
    text-align: center;
} 
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
} 
main{
    text-align: center;
} 
section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #FFFFFF;
} 
body{
    background-color: #FFFFFF;
    color: black;
}
header{
    background-color:rgba(134, 92, 37, 0.7);
}
nav a:hover {
    background-color: #42BE7D;
    color: black;
}
.home-title{
    color: black;
}
h4{
    color: black;
}
.book{
    background-color: #B89057;
    text-decoration: none;
    color: black;
}
.join{
    background-color: #B89057;
    text-decoration: none;
    color: black;
}
.book:hover{
    background-color: #42BE7D;
    color: black;
} 
.join:hover{
    background-color:#42BE7D;
    color: black;
}
#background{
    background-color: #B89057;
}
.msg{
    background-color: #B89057;
    color: black;
}
footer{
    background-color: #B89057;
    color: black;
}
footer a{
    text-decoration: none;
    color: black;
}
.logo, .icon{
    width: 80px;
}
#hero-img{
    width: 100%;

}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    background-color:#42BE7D;
    color: black;
}        